// Default
///
/// @group 00-settings/variables
/// @author Hemerson Vianna
///
/// @access public
///
$base-font-family 		: Arial, 'Helvetica Neue', Helvetica, sans-serif !default;
$base-font-size 		: 62.5% !default;
$base-line-height 		: 1.2 !default;
$base-text-color		: #333 !default;
$base-background-color 	: #fff !default;
