/// Icones dos projetos
///
/// @group 00-settings/placeholders
/// @author Hemerson Vianna
///
/// @access public
///
%icon {
  display: inline-block;
  font-family: "challengeicons";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//
%icon-bed { content: "\e600"; }
//
%icon-calendar { content: "\e601"; }
//
%icon-location { content: "\e602"; }
//
%icon-search { content: "\e603"; }
