/// Icones dos projetos
///
/// @group 00-settings/placeholders
/// @author Hemerson Vianna
///
/// @access public
///
%fa {
  display: inline-block;
  font-family: "challengeicons";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/// Icone barra
///
/// @group 00-settings
/// @author Hemerson Vianna
///
/// @access public
///
%fa-bars { content: "\f0c9"; }
