// Input
///
/// @group 04-objetcs
/// @author Hemerson Vianna
///
/// @access public
///
.form-field {
	@include x-icon( icon-calendar );

	border-radius: 5px;
	border: 1px solid #e5e5e5;
	color: #adb7c1;
	font-family: $base-font-gothamlight;
	font-weight: 300;
	font-size: 26px;
	line-height: 1;
	padding: 20px 10px;
	width: 100%;
}

.error {
	background: transparent;
	display: inline-block;
	position: relative;
	width: 100%;
}

.form-field.error-field {
	border-color: #900;
}

.error-msg {
	background: #900;
	color: #fff;
	font-size: 12px;
	padding: 2px 5px;
	position: absolute;
	left: 0;
	bottom: -8px;
	width: 100%;
}
