// Structure
///
/// @group 04-objetcs
/// @author Hemerson Vianna
///
/// @access public
///
.form {
	padding: 15px 0;

	@media(min-width:$screen-tablet-portrait) {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.form-fieldset {
	border: 0;
}

.form-legend {
	@include x-text-hide;
}

.form-group {
	@include x-clearfix;
	margin-bottom: 10px;
}

// Posicionar icones para os campos dos formularios - posição left
// Para um projeto mais complexo, criar classes prevendo posição left e right
.form-wrapfield {
	display: inline-block;
	position: relative;
	width: 100%;

	.form-field {
		padding-left: 50px;
	}

	&:before {
		color: #ff8a21;
		font-size: 40px;
		margin-top: -20px;
		position: absolute;
		left: 10px;
		top: 50%;
		width: 30px;
	}
}
